h3 {
    display: inline-block;
    color: white;
}

img {
    display: inline-block;
    width: 100%;
}

p {
    display: inline-block;
    color: white;
}

button.viewStory {
    color: black;
    width: 100px;
    background-color: green;
    height: 1.5em;
}

.newsCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 420px;
    width: 350px;
    border: 1px solid white;
}